@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryBlue: hsl(223, 87%, 63%);
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  color: var(--gray);
  text-align: center;
}

main img {
  margin: 2.9rem 0 1rem 0;
}

h1 {
  margin: 1.5rem 0rem 0.8rem 0rem;
  font-weight: 300;
  font-size: 2rem;
}

.dashboard-img {
  max-width: 70%;
  width: 100%;
}

span {
  color: var(--veryDarkBlue);
  font-weight: 700;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 3rem 0px 1.5rem 0px;
}

.icon-container {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
}

i {
  color: var(--primaryBlue);
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-brands {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.icon-container:hover {
    background-color: var(--primaryBlue);
    cursor: pointer;
}

.icon-container:hover .fa-brands {
  color: #fff;
}

footer {
  margin-top: 2rem;
}

P:first-of-type {
  font-size: 1rem;
  color: var(--veryDarkBlue);
}

.email-input {
  width: 100%;
  max-width: 37rem;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
}

input {
  max-width: 22rem;
  width: 100%;
  height: 3.2rem;
  border: 1px solid #000;
  border-radius: 25px;
  padding-left: 1.5rem;
}

.email-input button {
  max-width: 12rem;
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: var(--primaryBlue);
  color: #fff;
  font-weight: 600;
  height: 3.2rem;
  cursor: pointer;
}

.email-input button:hover {
  background-color: var(--paleBlue);
}

.error-paragraph {
  color: var(--lightRed);
  margin-top: 0.8rem;
}

@media screen and (max-width: 375px) {
  html {
    font-size: 7px;
  }

  .email-input {
    flex-direction: column;
    align-items: center;
  }

  input {
    margin-bottom: 2.5rem;
    width: 25rem;
    max-width: 40rem;
    height: 3.5rem;
  }

  .email-input button {
    width: 100%;
    width: 27rem;
    max-width: 40rem;
    height: 3.8rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
